<div>
    <h2 id="page-heading">
        <span jhiTranslate="sampleApp.classification.home.title">Classifications</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-classification" [routerLink]="['/classification/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="sampleApp.classification.home.createLabel">
            Create a new Classification
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="classifications?.length === 0">
        <span jhiTranslate="sampleApp.classification.home.notFound">No classifications found</span>
    </div>
    <div class="table-responsive" *ngIf="classifications?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="sampleApp.classification.name">Name</span></th>
            <th scope="col" ><span jhiTranslate="sampleApp.classification.handed">Handed</span></th>
            <th scope="col" ><span jhiTranslate="sampleApp.classification.dominantHand">Dominant Hand</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let classification of classifications ;trackBy: trackId">
                <td><a [routerLink]="['/classification', classification.id, 'view' ]">{{classification.id}}</a></td>
                <td>{{classification.name}}</td>
                <td>{{classification.handed}}</td>
                <td>
                    <div *ngIf="classification.dominantHand">
                        <a [routerLink]="['/dominant-hand', classification.dominantHand?.id, 'view' ]" >{{classification.dominantHand?.handed}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/classification', classification.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/classification', classification.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/classification', { outlets: { popup: classification.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
